<div class="message">
  <p>
    <div class="icon_container">
      <%= inline_svg message.dialect.svg_path, class: 'icon' %>
    </div>
    <div class="message_username">
      <b><%= message.user.username %>:</b> 
    </div>
    <div class="message_text">
      <%= message.text %>
    </div>
    <div class="message_time">
      <%= message.created_at.strftime('%H:%M') %>
    </div>
  </p>
</div>