// Place all the styles related to the rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.text_field {
  color: #fbd082 !important;
  background-color: #23376a !important;
  border-color: #09183d !important;
}

.noresize {
  resize: none; 
}

#messages {
  color: #fbd082 !important;
  background-color: #19284d !important;
  border: 1px solid #09183d !important;
  padding: 15px !important;
  border-radius: 4px;
  height: 60vh;
  max-height:60vh;
  overflow-y: auto;
  margin-bottom: 5vh;
}

.current_user_message {
  float: right !important;
}

.other_user_message {
  float: left !important;
}